/* Component - Appbar.vue */
.app-header-caption-text {
  font-size: 12px;
}

/* Component - ContactForm.vue */
#ContactForm {
  background-color: #dcedc8;
}

/* Component - DashboardLayout.vue */
.v_menu_icon_btn {
  display: none;
}

/* View - Projects.vue */
.form-dialog {
  align-self: flex-start;
  position: relative;
  top: 20px;
}

.user-form-dialog {
  align-self: flex-start;
  position: relative;
  top: 90px;
}
.user-privilage-dialog {
  align-self: flex-start;
  position: relative;
  top: 90px;
  z-index: 1200;
}

.errorDes {
  color: rgb(235, 60, 60);
  font-size: 15px;
  position: absolute;
  // top: 72px;
  // left: 30px;
  margin-top: 60px;
  margin-left: 20px;
}
.mendatory {
  position: absolute;
  z-index: 20;
  margin-top: 60px;
  margin-left: 10px;
}
.mendatory_task_description {
  position: absolute;
  margin-top: 60px;
  margin-left: 10px;
}
.editImage {
  position: relative;
  top: -44px;
  left: 35px;
}
.upload_on_edit {
  color: red;
  position: absolute;
  left: 118px;
  background-color: rgb(240, 233, 233);
  padding: 10px;
  top: 0px;
  z-index: 1;
}

/* View - Home */
.service_title {
  font-size: 15px;
}

.margins-0 {
  margin-top: -40px;
}

#toolbar {
  //  background-color: red;
  height: 40px !important ;
}

#dt_table table thead tr {
  th:nth-child(1) {
    min-width: 1px !important;
    width: 1px !important;
    padding-left: 3px !important;
    padding-right: 0px !important;
  }

  th:nth-child(2) {
    min-width: 1px !important;
    width: 1px !important;
  }

  th:nth-child(3) {
    min-width: 1px !important;
    width: 1px !important;
    min-width: 650px !important;
  }

  th:nth-child(4) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 5px !important;
  }

  th:nth-child(5) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 15px !important;
    // background-color: red !important;
    min-width: 120px !important;
  }
  th:nth-child(6) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 105px !important;
    min-width: 120px !important;

    // min-width: 17px !important;
    justify-content: center;
    align-items: center;
    // background: green;
  }
  th:nth-child(7) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 35px !important;
    min-width: 140px !important;
    min-width: 120px !important;
  }
  th:nth-child(8) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 35px !important;
    min-width: 90px !important;
    text-align: center !important;
    min-width: 120px !important;
  }
  th:nth-child(9) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 35px !important;
    min-width: 150px !important;
    text-align: center !important;
  }
  th:nth-child(10) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 5px !important;
    min-width: 120px !important;
    text-align: center !important;
  }
}
.index_id_column {
  margin-left: -13px !important;
}
.chip_bar_on_progress {
  background-color: orange !important;
  width: 4px;
  height: 40px;
  margin-left: -3px;
  border-radius: 0px;
  margin-right: 3px;
}
.chip_bar_on_test {
  background-color: #039be5 !important;
  width: 4px;
  height: 40px;
  margin-left: -3px;

  border-radius: 0px;
  margin-right: 3px;
}
.chip_bar_on_complete {
  background-color: green !important;
  width: 4px;
  height: 36px;
  margin-left: -3px;
  border-radius: 0px;
  margin-right: 3px;
}

// Pagination Button
.v-pagination__navigation {
  box-shadow: 0px 0px 0px 0px !important;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 32px;
  width: 32px;
  margin: 0.3rem 10px;
}

// VIEW - TASK.vue
.task-dialog {
  align-self: flex-start;
  position: relative;
  top: 30px;
}
.vue_edeitor_height {
  height: 90px;
  margin-bottom: 35px;
}

// .v-dialog:not(.v-dialog--fullscreen) {
//    max-height: 90% !important;
// }
// .v-dialog--scrollable, .v-dialog--scrollable > form {
//    display: block !important;
// }
