/* Scrollbar CSS */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Appbar.vue */
.app-header-caption-text {
  font-size: 12px;
}

/* Projects.vue */
.form-dialog {
  align-self: flex-start;
  position: relative;
  top: 20px;
}
.errorDes {
  color: rgb(235, 60, 60);
  font-size: 15px;
  position: absolute;
  top: 72px;
  left: 30px;
}
.editImage {
  position: absolute;
  top: 10px;
  left: 60px;
}
.upload_on_edit {
  color: red;
  position: absolute;
  left: 118px;
  background-color: rgb(240, 233, 233);
  padding: 10px;
  top: 0px;
  z-index: 1;
}

/* Home */
.service_title {
  font-size: 15px;
}
/* ContactForm.vue */
#ContactForm {
  background-color: #dcedc8;
}
.margins-0 {
  margin-top: -40px;
}
/* Carousel.vue */
.agile__dots {
  bottom: 10px;
  flex-direction: column;
  right: 30px;
  position: absolute;
}
.agile__dot {
  margin: 5px 0;
}
.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button,
.agile__dot:hover button {
  background-color: #fff;
}

.slide {
  display: block;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
